body {
    width: auto auto;
    margin: 50px auto;  /* 250px; */
    display: flex;
    text-align: center;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    background: rgb(144, 174, 174);
    font-family: Arial, Helvetica, sans-serif;
}

#spanRand {
    color: #13e676;
}

hr {
    width: 510px;
    margin: 5px 0px 15px 0px;
    color: rgba(133, 135, 135, 0.202);
    
}

.hero {
    width: 650px;
    height: 650px;
    display: flex;
    background: #122239;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 7px solid white;
    border-radius: 25px;
    font-size: 50px;
    font-weight: bold;
}

#generate {
    text-align: left;
    margin: 50px 0 5px 0;
}

#sentence {
    font-size: 25px;
    font-weight: normal;
    color: rgb(178, 176, 176);
    margin-left: -55px
}

#gen-btn {
    border: none;
    padding: 15px;
    width: 250px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    margin: 35px 0 15px -250px;
    background: rgb(37, 171, 97);
}

#label{
    color: yellow;
    margin-right: 220px;
}

 .passType{
    font-size: 15px;
    text-align: left;
}

.passLength {
    font-size: 15px;
    font-weight: normal;
    color: rgb(178, 176, 176);
} 

label {
    font-size: 18px;
    font-weight: 100;
    color: rgb(178, 176, 176);
    margin-right: 330px;
}

.mix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    color: rgb(178, 176, 176);
    padding-right: 40px;
}

#length {
    color: yellow;
    padding-left: 25px;
    margin-top: 5px;
}

#passlen {
    margin: 7px 0px 0px 0px;
    padding-right: 390px;
}

.radi {
    text-align: left;
}

#gen-btn:hover {
    text-shadow: 0 0 1px whitesmoke;
    box-shadow: 0 0 5px white;
}

#gen-display {
    display: flex;
    flex-direction: row;
}

.display {
    font-size: 15px;
    color: rgb(37, 171, 97);
    margin: 0px 5px 0px 5px;
    width: 225px;
    height: 15px;
    padding: 15px;
    background: #1a2d47;  
    border-radius: 5px;
}

.copy-text {
    width: 75px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
    margin: 5px 0px 5px 0px;
    background: rgb(37, 171, 97);
}

.copy-text:hover {
    box-shadow: 0 0 5px rgb(157, 231, 190);
}

